@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #404040;
    --secondary-color: #606060;
    --text-color: #0C0C0C;
    --secondary-text: #FFFFFF;
    --small-text: #748C70;
    --light-backgound: #5A6D57;

    --primary-font: "League Spartan", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

}